html,
body,
#map {
    height: 100%;
    margin: 0;
    padding: 0;
}

#offcanvasExample {
  margin: 40px;
  margin-left: 100px;

  border-radius: 40px;
}

  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  .btn-group {
    overflow: show;
  }

  #search-btn  {
    width: 60px;
    
    overflow: show;
    display: flex;
    flex-direction: row;
  }
  #search-input {
    display: none;
    width: max-content;
    z-index: 100000000; 
  }

  svg {
    min-width: 30px;
  }
/* #search-btn:blank {
  transition: width 0.4s ease;
} */
#search-btn:hover {
  /* transition: width 0.4s ease;
  width: 300px; */
}
  #origin-input,
  #destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
  }
  
  #origin-input:focus,
  #destination-input:focus {
    border-color: #4d90fe;
  }
  
  #mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
  }
  
  #mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  